@(commits: List[Commit], refreshing: Set[String], state: UpdateState, p: Int, isAuth: Boolean)

@import helper._

@main("Scala Commits") {
  <h1>Recent Commits</h1>

  <p>@if(isAuth) {
    <a href="logout">logout</a>
  } else {
    <a href="login">login</a>
  }</p>

  @if(isAuth) {
    <p>@if(state == Idle) {
      @form(routes.Application.updateRepo()) {
        <input type="submit" value="update repo"/>
      }
    } else {
        updating commits from repo...
    }</p>

    <p>@form(routes.Application.refreshAll()) {
      <input type="submit" value="refresh all build states"/>
    }</p>

    <p>Number of tasks in queue: @{refreshing.size}</p>
  }

  <ul>
    @commits.map { commit =>
      <li>
        @* add links: to github, to page with actions for the build, to jenkins page *@
        @commit.dateString (@commit.githubUser / @commit.authorName),
        <a href="rev/@commit.sha">@{commit.sha.take(10)}</a>,
        @commit.state.describe(refreshing(commit.sha))
        @if(commit.buildSuccess.isDefined && commit.buildSuccess.get) {
          <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/blue.png"/>
        }
        @if(commit.buildSuccess.isDefined && !commit.buildSuccess.get) {
          <img src="https://scala-webapps.epfl.ch/jenkins/static/e3c74e88/images/16x16/red.png"/>
        }
      </li>
    }
  </ul>

  @if(p > 1) {
    <a href=?p=@{p-1}>newer</a> -
  }
  <a href=?p=@{p+1}>older</a>
}
