@(commit: Commit, refreshing: Boolean, jenkinsJob: String, isAuth: Boolean)

@import helper._

@main("Scala Commits") {
  <h1>Commit Details</h1>

  <p><a href="/">[all commits]</a></p>

  <p>@commit.dateString (@commit.githubUser / @commit.authorName),
  <a href="https://github.com/scala/scala/commit/@commit.sha" target="_blank">@{commit.sha.take(10)} on github</a></p>


  @if(refreshing) {
    @commit.state.describe(refreshing)
  } else {
    @defining((call: play.api.mvc.Call) => (html: Html) => { if (isAuth) form(call)(html) else Html.empty }) { aform =>
    @defining(commit.state) { cs => @cs match {
      case Missing => {
        <p>@commit.state.describe(refreshing)</p>
        @aform(routes.Application.startBuild(commit.sha)) {
          <input type="submit" value="start jenkins build"/>
        }
      }
  
      case Searching => {
        <p>@commit.state.describe(refreshing) (UUID: @commit.jenkinsBuildUUID.get)</p>
        @aform(routes.Application.refresh(commit.sha)) {
          <input type="submit" value="refresh state"/>
        }
        @aform(routes.Application.cancelBuild(commit.sha)) {
          <input type="submit" value="cancel search"/>
        }
      }
  
      case Running | Downloading => {
        <p>@commit.state.describe(refreshing): <a href="https://scala-webapps.epfl.ch/jenkins/job/@jenkinsJob/@commit.jenkinsBuild.get" target="_blank">#@commit.jenkinsBuild.get</a></p>
        @aform(routes.Application.refresh(commit.sha)) {
          <input type="submit" value="refresh state"/>
        }
        @aform(routes.Application.cancelBuild(commit.sha)) {
          <input type="submit" value="cancel following this build"/>
        }
      }
  
      case Done => {
        <p>@commit.state.describe(refreshing): <a href="https://scala-webapps.epfl.ch/jenkins/job/@jenkinsJob/@commit.jenkinsBuild.get" target="_blank">#@commit.jenkinsBuild.get</a></p>
        <ul>
        @controllers.Artifacts.artifactsFor(commit.sha).map { file =>
          <li><a href="@commit.sha/artifacts/@file">@file</a> (<a href="@commit.sha/viewArtifact/@file" target="_blank">view</a>)</li>
        }
        </ul>
        @aform(routes.Application.startBuild(commit.sha)) {
          <input type="submit" value="start new jenkins build"/>
        }
        @aform(routes.Application.cancelBuild(commit.sha)) {
          <input type="submit" value="unlink from jenkins build"/>
        }
      }
    }}}
  }
}
